# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Database
*.db
*.sqlite3

# Vercel & Environments
.vercel
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Project Specific
output screenshots/
